@page "/Export"
@model GoodsEnterprise.Web.Pages.DownloadModel
@{
    ViewData["Title"] = "Download";
}
<div class="modern-alert modern-alert-success" id="success-alert" style="display:none;">
    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
    </svg>
    <span>@ViewData["SuccessMsg"]</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modern-alert modern-alert-warning" id="validation-alert" style="display:none;">
    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
    </svg>
    <span>@Html.Raw(ViewData["ValidationMsg"])</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="divDownload">
    <div class="modern-card">
        <form id="Downloadform" method="post" enctype="multipart/form-data" asp-page-handler="Submit">
            <div class="row">
                <div class="col-12">
                    <div class="modern-info-box">
                        <svg width="24" height="24" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
                        </svg>
                        <div>
                            <h4>Product Export Information</h4>
                            <p>This will export all product data including categories, suppliers, pricing, and inventory information to an Excel file.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-4">
                <div class="col-12">
                    <div class="modern-form-actions">
                        <button type="submit" class="modern-btn modern-btn-primary Download-submit">
                            <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                            Export Products
                        </button>
                        <a class="modern-btn modern-btn-secondary" href="/Download">
                            <svg width="16" height="16" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd"></path>
                            </svg>
                            Refresh
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* Include Modern Alert System *@
@await Html.PartialAsync("_ModernAlerts")

@if (ViewData["ValidationMsg"] != null && ViewData["ValidationMsg"] != "")
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            if (typeof ModernAlert !== 'undefined') {
                ModernAlert.warning('@Html.Raw(Html.Encode(ViewData["ValidationMsg"].ToString()).Replace("'", "\\'"))', 'Validation Error!', {
                    duration: 6000
                });
            }
        });
    </script>
}