@page "/user-login"
@model GoodsEnterprise.Web.Customer.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
}


<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form id="frmLogin" method="post" enctype="multipart/form-data" asp-page-handler="ValidateLogin">
                        @*<label for="txtEmail" class="form-label">Email</label>*@
                        <input asp-for="objCustomer.Email" type="text" placeholder="Emaill Address" class="form-control" id="txtEmail">

                        @*<label for="txtPassword" class="form-label">PassWord</label>*@
                        <input asp-for="objCustomer.Password" type="password" placeholder="Password" class="form-control" id="txtPassword">

                        @*<input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email Address" />*@
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form id="frmRegister" method="post" enctype="multipart/form-data" asp-page-handler="Register">
                        <input id="txtFirstName" type="text" asp-for="objCustomer.FirstName" placeholder="Name" />
                        <input id="txtEmailRegister" type="email" asp-for="objCustomer.Email" placeholder="Email Address" />
                        <input id="txtPassWordRegister" type="password" asp-for="objCustomer.Password" placeholder="Password" />
                        <input id="txtConfirmPassWordRegister" name="ConfirmPassWordRegister" type="password" placeholder="Confirm Password"  />
                        <button type="submit" id="btRegister" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

